$color-light = {
  base: #ffffff,
}

$color-dark = {
  base: #322633,
  dark: #000000,
}

$color-gray = {
  base: #BDBDBD,
  dark: #010029,
}

$color-red = {
  base: #CF5459,
}

$color-purple = {
  base: #9370B0,
  light: #F0EEF3,
}

$color-lilac = {
  base: #800080,
  dark: #710071,
}
