$fonts-path = '../fonts/';

$fonts-arr = {
  '300': {
    name: 'Manrope',
    file: Manrope-Light,
    weight: 300,
    style: normal
  },
  '400': {
    name: 'Manrope',
    file: Manrope-Regular,
    weight: normal,
    style: normal
  },
  '700': {
    name: 'Manrope',
    file: Manrope-Bold,
    weight: 700,
    style: normal
  },
}
