@require '../vars/variables';

*:not(input) {
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  font-family: $font-base;
  font-size: $font-size;
  color: $color-dark.base;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg[aria-hidden=true] {
  display: none;
}

input, textarea {
  user-select: text;
}

.l-container {
  container();

  &--fluid {
    container(true);
  }
}
