@require './vars/variables.styl';
if ($use-fonts) {
  @require './mixins/fonts.styl';
}

@require '~@csstools/normalize.css/opinionated.css';
@require './mixins/mixins.styl';

/* Base styles
-------------------------- */
@require './base/layout.styl';
@require './base/animations.styl';
@require './base/typography.styl';
